.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  position: relative;
}

.text::after {
  border-color: transparent transparent #f5f5f5;
  border-style: solid;
  border-width: 0 10px 10px;
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  left: 40%;
  bottom: -11px;
}
